# **Some R Fundamentals**

In [ ]:
x <- c(1, 2, 3, 4)
mean(x)

[1] 2.5

In [ ]:
count = 1
while (count <= 5){
  count = count + 1
}
print(count)

[1] 6

In [ ]:
add_sum <- function(a, b) {
  return(a+b)
}

print(add_sum(10, 20))

[1] 30

In [ ]:
df <- data.frame(
  Name = c("Amr", "Sara", "Omar", "Laila", "Youssef"),
  Year = c(1999, 2001, 1998, 2000, 2002),
  Country = c("Egypt", "Jordan", "Morocco", "Tunisia", "Lebanon")
)

print(df)

     Name Year Country
1     Amr 1999   Egypt
2    Sara 2001  Jordan
3    Omar 1998 Morocco
4   Laila 2000 Tunisia
5 Youssef 2002 Lebanon

## **Problem Set**

This notebook contains my solutions to selected R programming problems.  
You can view the original problem definitions here:

[**Open R - Problems.pdf**](../resources/R%20-%20Problems.pdf)

**Problem 1**

In [ ]:
X <- c(2, 4, 6, 8, 10)
X <- X + 5
print(X)
sum_X <- sum(X)
cat("Sum of the vector:", sum_X)

[1]  7  9 11 13 15
Sum of the vector: 55

**Problem 2**

In [ ]:
df <- data.frame(
  Name = c("John", "Lisa", "Sara"),
  Age = c(28, 22, 32),
  Department = c("HR", "Finance", "Engineering")
)

df <- rbind(df, c("Mike", 29, "Marketing"))
names(df)[2] <- "Employee_Age"
df$Department <- NULL

print(df)

  Name Employee_Age
1 John           28
2 Lisa           22
3 Sara           32
4 Mike           29

**Problem 3**

In [ ]:
a <- as.numeric(readline("Enter first number: "))
b <- as.numeric(readline("Enter second number: "))

if (a > b) {
  print("First number is greater")
} else if (a < b) {
  print("First number is smaller")
} else {
  print("Both numbers are equal")
}

Enter first number: 8
Enter second number: 5
[1] "First number is greater"

**Problem 4**

In [ ]:
nums <- list(3, 7, 2, 9, 5)

for (n in nums) {
  print(paste("Number:", n, "Square:", n^2))
}

[1] "Number: 3 Square: 9"
[1] "Number: 7 Square: 49"
[1] "Number: 2 Square: 4"
[1] "Number: 9 Square: 81"
[1] "Number: 5 Square: 25"

**Problem 5**

In [ ]:
x <- 10
y <- 20
z <- readline("Enter the zeration: ")

if (z == "a") {
  print(x + y)
} else if (z == "s") {
  print(x - y)
} else if (z == "m") {
  print(x * y)
} else if (z == "d") {
  print(x / y)
} else {
  print("Invalid choice")
}

Enter the zeration: s
[1] -10